.recipe{
    border-radius: 20px;
    -webkit-box-shadow: 0px 2px 20px 0px rgba(69,65,69,1);
    -moz-box-shadow: 0px 2px 20px 0px rgba(69,65,69,1);
    box-shadow: 0px 2px 20px 0px rgba(69,65,69,1);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    min-width: 40%;
    align-items: center;
}

.images{
    border: none;
    border-radius: 5em;
    width: 10em;
}

.ingredients{
    text-align: start;
    font-size: 12px;
}